.delete-button {
	font-size: 1.5rem;
	position: absolute;
	right: 20px;
	top: 10px;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.like-btn,
.dislike-btn {
	color: $color-005;
	font-size: 1.5rem;
}

.filter-btn {
	background-color: $color-001;
	border: 2px solid $color-001;
	color: $color-003;
	padding: 5px 30px;
	height: fit-content;
	margin-left: 20px;
	height: -moz-fit-content;
	cursor: pointer;
	transition: all 0.4s ease-in-out;
	font-weight: 600;
	&:hover {
		background-color: $color-003;
		color: $color-001;
	}
}
